.form-login {
  background-color: #ededed;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf; }

.login-container {
  width: 80vw;
  margin: 0 auto;
  margin-top:300px;
}
  .login-container .wrapper {
    text-align: center; 
  }
  .login-container h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center; 
  }
